
  <div class='containner'>
  <div class='row'>
  <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">

<h2>文章内容詳細</h2>

  <h4>文章名</h4>
  <p><%= @article.name %></p>
  <h4>文章内容</h4>
  <p><%= @article.content %></p>
  
  

