<h1>ご注文ありがとうございました！</h1>
<div class="image-wrapper-thanks">
  <%= image_tag 'thanks_flog.jpg', size: '640x480' %>
</div>
<p>※３営業日以内に発送いたします。<br>
日付指定やその他お問合せはこちらまでお願いします。<br>
０００−０００−００００</p>

<button type="button" class="btn btn-outline-primary"><%= link_to "注文情報を確認する", public_customers_path %></button>
<button type="button" class="btn btn-outline-primary"><%= link_to "商品一覧ページにいく", public_customers_items_path %></button>
